<footer>
    <div class="start-box">
        <h1>Ficou interessado(a)? me manda uma mensagem!</h1>

        <a href="https://api.whatsapp.com/send?phone=5521992636446&text=Olá Gabrielly,%20gostaria%20de%20fechar%20um%20projeto." target="_blank"><button class="btn-secondary">Entre em contato</button></a>
    </div>
    <div id="copy-area">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <p>Desenvolvido por <a href="www.linkedin.com/in/gabrielly-tibério-devfullstack" target="_blank">Gabrielly Eduarda da Silva Tibério </a> &copy; 2023</p>
            </div>
        </div>
      </div>
    </div>
</footer>
