<app-header></app-header>

<body>
    <section class="first-section" id="start">
        <div class="introdution">
            <h1>Desenvolvedora web full stack </h1>
            <p>Minhas redes de contato: </p>
            <div>
                <a class="button-1" href="https://www.linkedin.com/in/gabrielly-tib%C3%A9rio-devfullstack/" target="_blank" mat-raised-button color="primary">linkedin</a>
                <a class="button-2" href="https://api.whatsapp.com/send?phone=5521992636446&text=Olá,%20Vim através do seu portfólio,%20gostaria%20de%20mais%20informações." target="_blank" mat-stroked-button color="primary">Whatsapp</a>
                <a class="button-3" href="https://github.com/GabsBugs" target="_blank" mat-raised-button color="primary">Github</a>
                <a class="button-4" href="mailto:gabriellye627@gmail.com" target="_blank" mat-stroked-button color="primary"> Email </a>
            </div>
        </div>
        <div clas="gifs">
            <!-- <img class="gif1" src="./../../../assets/images/psico2.gif" alt="Gif programando"> -->
            <!-- <img class="gif2" src="./../../../assets/images/source.gif" alt=""> -->
        </div>
        <!-- <div class="align-center" id="img-me2">
          <img src="./../../../assets/images/R.gif" alt="Caio cumprimentando" width="290px">
      </div> -->
        <br>
        <br>
    </section>
    <div class="align-center" id="img-me">
        <img src="./../../../assets/images/fotinha2-removebg-preview.png" alt="gabs" width="290px">
    </div>
    <br>
    <br>
    <br>
    <section class="about-me" id="about-me">
        <div class="about-me-inside">
            <h1>Oie, sou a Gabrielly!</h1>
            <p>
                Tenho 20 anos, moro no Rio de Janeiro e atualmente curso Analise e Desenvolvimento de Sistemas desde maeço de 2023. Sou uma Desenvolvedora Web Full Stack com experiencia de bootcamp intensivo na SoulCode Academy de quatro meses, nesse bootcamp desenvolvi hardskills e softskills. Programo independente já fazem dois anos mas agora estou a procura do meu primeiro emprego de carteira assinada, você poderia me ajudar dando uma olhadinha no meu portifolio e nos meus projetos, por favor?
            </p>
        </div>
    </section>
    <section>
        <app-habilities-cards></app-habilities-cards>
    </section>
    <section>
        <div class="main-section">
            <div class="side-left">
                <h2 class="h2-left">Minha missão</h2>
                <h3 class="h3-left">Oferecer soluções de desenvolvimento de software para ajudar as empresas e pessoas a alcançarem seus objetivos e resolver problemas com tecnologia.</h3>
            </div>
            <div class="side-right">
                <div class="items-right">
                    <h4 id="counter3" #counter3>51mil</h4>
                    <p>Linhas de código foram necessárias para desenvolver esse Portfolio.</p>
                </div>
                <div class="items-right">
                    <h4 id="counter" #counter>97%</h4>
                    <p>Avaliam o processo de criação de software comigo como excelente.</p>
                </div>
                <div class="items-right">
                    <h4 id="counter2" #counter2>81%</h4>
                    <p>Das empresas no Brasil estão digitalizadas, vai ficar de fora?</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="align-center projects-call">
            <img src="./../../../assets/images/sapo-removebg-preview.png" alt="aa" width="290px">
        </div>
        <div id="project-title">
            <h1>Projetos realizados</h1>
            <app-projects></app-projects>
        </div>
        <div class="repository">
            <div class="inside-repository">
                <h3>Confira também no meu repositório os códigos dos projetos backend e frontend que desenvolvi:</h3>
                <a class="button-1" target="_blank" mat-raised-button color="primary" href="https://github.com/GabsBugs" target="_blank">Ver repositório no Github</a>
            </div>
        </div>
    </section>
    <section class="section-skills">
        <app-box-skills></app-box-skills>
    </section>
    <app-footer></app-footer>
</body>
