<!-- <h1>testando modal</h1>
<p *ngIf="variavel == 'projeto1'">{{variavel}} 1</p>
<p *ngIf="variavel == 'projeto2'">{{variavel}} 2</p>
<p *ngIf="variavel == 'projeto3'">{{variavel}} 3</p>
 -->

    <div class="title-button">
        <h2 mat-dialog-title>Detalhes do projeto</h2>
        <button mat-icon-button mat-dialog-close>
            <i class="material-icons">close</i>
        </button>
    </div>
    <div mat-dialog-content style="max-height: 85vh">
    <div class="todo" *ngIf="variavel == 'projeto1'">
        <div class="card">
            <img id="banner" src="./../../../assets/images/Captura de tela 2023-05-02 184550.png" alt="projeto saúde">
            <div class="labeldiv">
            <p class="label">Concluido</p>
            </div>
            <h2 class="content"> gestão hospitalar</h2>
            <p class="content">O projeto hospitalar é construído com Angular e Springboot. O principal objetivo do projeto é projetar e desenvolver um site de gestão hospitalar que possa ser acessado pelo médico e o administrador.

              O médico tem autoridade para visualizar a lista atual de pacientes que estão em tratamento, incluindo seus detalhes de diagnóstico. O médico pode realizar operações CRUD com os pacientes em seu painel. O médico tem o acesso para adicionar e manter a lista de medicamentos em seu painel.

              O painel de administração exibe a lista de pacientes atual, excluindo alguns detalhes de diagnóstico sensíveis. O administrador tem acesso para manter a lista de compromissos em seu painel. O administrador também pode executar operações CRUD na lista de compromissos.

              Sprinboot é usado como um middleware para conexão de banco de dados e geração de api. O workbench do MySQL8 é usado como banco de dados. O Angular 14 é usado como o framwork de front-end para geração de componentes, roteamento, gerenciamento de estado, chamada de api para todos os componentes. Este projeto foi gerado com Angular CLI versão 14.0.4..</p>

        </div>
    </div>
    <div class="todo" *ngIf="variavel == 'projeto2'">
        <div class="card">
            <img id="banner" src="./../../../assets/images/Captura de tela 2023-05-02 184817.png" alt="Projeto financeiro">
            <div class="labeldiv">
            <p class="label">Concluído</p>
             </div>
            <h2 class="content">Software de vendas</h2>
            <p class="content">Esta aplicação foi desenvolvida pela SoulCode Academy para desenvolvimento de trabalho colaborativo em sistema CI/CD, utilizando o GitHub Projects como plataforma de gestão de trabalho.</p>

            <a class="button-1" href="https://proservconsultoria.com.br" target="_blank" mat-raised-button color="primary">Ver projeto</a>
        </div>

    </div>
    <div class="todo" *ngIf="variavel == 'projeto3'">
        <div class="card">
            <section >
                <img id="banner" src="./../../../assets/images/betcomp.png" alt="Bet company">
                <div class="labeldiv">
                <p class="label">Em desenvolvimento</p>
                </div>
                <h2 class="content is-blur">Software betting</h2>
                <p class="content is-blur">Software intuitivo e dinâmico para usuários que aplicam a técnica de arbitragem, procedimento responsável por encontrar surebets (apostas sem risco.)</p>
                <div class="profile is-blur">
                <img id="profileimg" class="is-blur" src="./../../../assets/images/brasil.jpg" alt="Owner">
                <div class="is-blur">
                    <h3>Empresa x</h3>
                    <p class="followers">x dias de projeto</p>
                </div>
            </div>
            </section>
        </div>
    </div>
</div>
