<div class="container">
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Hospital TF</h2>
        <p>O projeto hospitalar é construído com Angular e Springboot. O principal objetivo do projeto é projetar e desenvolver um site de gestão hospitalar que possa ser acessado pelo médico e o administrador.</p>
        <a class="button-1" mat-raised-button color="primary" (click)="openDetails('projeto1')">Saiba mais</a>
        <a class="button-1" href="" target="_blank" mat-raised-button color="primary">Visitar</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>GoodPayFinanças</h2>
        <p>Esta aplicação foi desenvolvida pela SoulCode Academy para desenvolvimento de trabalho colaborativo em sistema CI/CD, utilizando o GitHub Projects como plataforma de gestão de trabalho..</p>
        <div>
          <a class="button-1" mat-raised-button color="primary" (click)="openDetails('projeto2')">Saiba mais</a>
          <a class="button-1" href="" target="_blank" mat-raised-button color="primary">Visitar</a>
        </div>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Esse Portifolio</h2>
        <p>O projeto foi desenvolvido utilizando o Framework Angular.</p>
        <a class="button-1" mat-raised-button color="primary" (click)="openDetails('projeto3')">Saiba mais</a>
        <a class="button-1" href="" target="_blank" mat-raised-button color="primary">Visitar</a>
      </div>
    </div>
  </div>
